<template name="header">
	<header>
		 {{> mainNav }}
	</header>
</template>

<template name="mainNav">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">App</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				{{#if currentUser}}
					{{> appNav }}
				{{else}}
					{{> publicNav }}
				{{/if}}
			</ul>
		</div>
	</nav>
</template>

<template name="publicNav">
	<li><a href="/">Home</a></li>
</template>

<template name="privateNav">
	<li><a href="/">Home</a></li>
</template>

<template name="footer">
	<p></p>
</template>